<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBciiW_F8pLk4MhcBw6pfAsByGhvP2G8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>745116786641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streamsTareas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tareas-bd-147d8</string>
	<key>STORAGE_BUCKET</key>
	<string>tareas-bd-147d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745116786641:ios:868d400379eec733214af0</string>
</dict>
</plist>